.nytimes-header {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.nytimes-banner {
  margin: 0 10px 0 10px;
}

img.nytimes-banner {
  width: 30%;
  height: auto;
}

.nytimes-logo {
  position: absolute;
  left: 0;
  height: 100%;
  width: auto;
  align-self: stretch;
}

.nytimes-widget {
  width: 500px;
  max-height: 400px;
  font-family:'Times New Roman', Times, serif; 
  overflow-y: scroll; 
  background-color: white;
}

.nytimes-navbar {
  width: 100%;
}

.nytimes-navbar-tabs {
    overflow: hidden;
    border: 1px solid #ccc;
    background-color: #f1f1f1;
}
  
.nytimes-navbar-tab {
  font-family:'Times New Roman', Times, serif; 
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 0px 5px;
    transition: 0.3s;
    font-size: 15px;
}
  
  /* Change background color of buttons on hover */
.nytimes-navbar-tab:hover {
    background-color: #ddd;
}
  
  /* Create an active/current tablink class */
.nytimes-navbar-tab.active {
    background-color: #ccc;
  }
  
  /* Style the tab content */
.nytimes-display-frame {
    padding: 6px 12px;
    border: 1px solid #ccc;
    border-top: none;
}

.article-row {
  position: relative;
}
.article-hidden {
  background-color:#ccc;
  display: none;
}
.article-row:hover .article-hidden {
  display: block;
}

.bookmark-btn {
  width: 15px;
  float: right;
}

.article-row div{
  font-family:'Times New Roman', Times, serif; 
  font-size: 12px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: left;


}

.article-row div.article-headline {
  font-size: 13px;
  font-style: bold;
  text-align: left;
  
}

.article-row div.article-byline {
  font-size: 11px;
  position: relative;
  left: 5%
}

.article-row div.article-date {
  font-size: 8px;
  position: relative;
  left: 5%

}

.article-abstract {
  font-size: 16px;
}

.article-section {
  font-size: 14px;
}
  
